{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}" />
<link rel="stylesheet" href="{{asset('assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}"> 
{% endblock %}

{% block title %}Link Your Study with dataset{% endblock %}

{% block body %}
    <h1>Link Your Study with dataset</h1>

    {{ include('study_dataset_link_request/_form.html.twig') }}

    <a href="{{ path('study_dataset_link_request_index') }}">back to list</a>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    	<script src="{{asset('assets/js/select2.min.js')}}"></script>
    <script>
    $(function(){

          $('.select2').select2({
            theme: 'bootstrap4'
        });

    })
    </script>
{% endblock %}