{% extends 'base.html.twig' %}

{% block title %}Studydataset index{% endblock %}

{% block body %}
    <h1>Studydataset index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for studydataset in studydatasets %}
            <tr>
                <td>{{ studydataset.id }}</td>
                <td>{{ studydataset.description }}</td>
                <td>
                    <a href="{{ path('studydataset_show', {'id': studydataset.id}) }}">show</a>
                    <a href="{{ path('studydataset_edit', {'id': studydataset.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('studydataset_new') }}">Create new</a>
{% endblock %}
