{% extends 'base.html.twig' %}

{% block title %}StudyDatasetStatus index{% endblock %}

{% block body %}
    <h1>StudyDatasetStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for study_dataset_status in study_dataset_statuses %}
            <tr>
                <td>{{ study_dataset_status.id }}</td>
                <td>{{ study_dataset_status.name }}</td>
                <td>{{ study_dataset_status.description }}</td>
                <td>
                    <a href="{{ path('study_dataset_status_show', {'id': study_dataset_status.id}) }}">show</a>
                    <a href="{{ path('study_dataset_status_edit', {'id': study_dataset_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('study_dataset_status_new') }}">Create new</a>
{% endblock %}
