{{ form_start(form) }}

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Username</label>
			<div class="col-sm-9">
            {{ form_widget(form.user_id,{'attr':{'class':'form-control','placeholder':'username'}}) }}

				</div>
				</div>


                <div class="form-group mt-5">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1">WorkUnit</label>
			<div class="col-sm-9">
            {{ form_widget(form.work_unit_id,{'attr':{'class':'form-control ckeditor','placeholder':'WorkUnit'}}) }}

				</div>
				</div>

			{% if form.parent %}
			<br>
		  <div class="form-group ">
	<label class="col-sm-3 control-label" for="form-field-1">Parent</label>
			<div class="col-sm-9">
			{{ form_widget(form.parent,{'attr':{'class':'form-control'}}) }}
			</div>
				</div>
			{% endif %}


    {{ form_widget(form.work_unit_id) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
hkhdsfglsdgflkshgdljfhsjk
{% block javascripts %}

   {% endblock %}
