{% extends 'base.html.twig' %}

{% block title %}InvolvementType index{% endblock %}

{% block body %}
    <h1>InvolvementType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for involvement_type in involvement_types %}
            <tr>
                <td>{{ involvement_type.id }}</td>
                <td>{{ involvement_type.name }}</td>
                <td>{{ involvement_type.description }}</td>
                <td>
                    <a href="{{ path('involvement_type_show', {'id': involvement_type.id}) }}">show</a>
                    <a href="{{ path('involvement_type_edit', {'id': involvement_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('involvement_type_new') }}">Create new</a>
{% endblock %}
