{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{{ path('home')}}">Home</a>
    </li>
    <li>
        <a href="{{ path('study_index')}}">Study</a>
    </li>
    <li class="active">View Study</li>
{% endblock %}
{% block pageheader %}
    {% if owner is defined %}
    <a href="{{ path('myreview') }}" class="btn btn-sm btn-success">back to list</a>
    {% elseif reviewer %}
    <a href="{{ path('myreview') }}" class="btn btn-sm btn-success">back to list</a>
    {% else %}
        <a href="{{ path('study_index') }}" class="btn btn-sm btn-success">back to list</a>
    {% endif %}
     <a href="{{ path('study_report',{ 'id':study.id}) }}" class="btn btn-sm btn-warning pull-right m-auto"><span class="fa fa-file-pdf-o"> </span> Print status</a>
<br>
<br>


{% endblock %}

{% block body %}





    <div class="widget-box widget-color-blue2">

        <div class="widget-header">

            <h4 class="widget-title lighter smaller">{{ study.title }} </h4>

        </div>
        <div class="widget-body">
            <div class="widget-main padding-8">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                    <th>ID</th>
                                    <td>EPHI-000{{ study.id }}</td>
                                </tr>
                                <tr>
                                    <th>Title</th>
                                    <td>{{ study.title }}</td>
                                </tr>

                                <tr>
                                    <th>Irb Code</th>
                                    <td>{{ study.irbCode }}</td>
                                </tr>
                                <tr>
                                    <th>Research Question</th>
                                    <td>{{ study.researchQuestion }}</td>
                                </tr>
                                <tr>
                                    <th>PI</th>
                                    <td><ul class="list-group">
                                    <li class="list-unstyled">Name: {{ study.PIName }}</li>

                                    <li class="list-unstyled">Phone: {{ study.PIPhone }}</li>

                                    <li class="list-unstyled">Email: {{ study.PIEmail }}</li>
                                    </ul></td>
                                </tr>
                                <tr>
                                    <th>Co-PI</th>
                                    <td><ul class="list-group">
                                    <li class="list-unstyled">Name: {{ study.COPIName }}</li>

                                    <li class="list-unstyled">Phone: {{ study.COPIPhone }}</li>

                                    <li class="list-unstyled">Email: {{ study.COPIEmail }}</li>
                                    </ul></td>
                                </tr>
                                <tr>
                                    <th>Year Conducted</th>
                                    <td>{{ study.yearConducted ? study.yearConducted|date('Y') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Year Published</th>
                                    <td>{{ study.yearPublished ? study.yearPublished|date('Y') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Budget</th>
                                    <td>{{ study.budget }} {% if study.cur %} {{ study.cur }} {% endif %}
                                     </td>
                                </tr>
                                <tr>
                                    <th>TimePeriod Coverage Start</th>
                                    <td>{{ study.timePeriodCoverageStart ? study.timePeriodCoverageStart|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>TimePeriod Coverage End</th>
                                    <td>{{ study.timePeriodCoverageEnd ? study.timePeriodCoverageEnd|date('Y-m-d') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Comment</th>
                                    <td>{{ study.comment }}</td>
                                </tr>
                                <tr>
                                    <th>Objective</th>
                                    <td>{{ study.objective|raw }}</td>
                                </tr>


                                <tr>
                                    <th>Summary</th>
                                    <td>{{ study.summary|raw }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ study.description|raw }}</td>
                                </tr>
                                <tr>
                                    <th>Geography</th>
                                    <td>{{ study.geography }}</td>
                                </tr>
                                <tr>
                                    <th>Funding Sources</th>
                                    <td>{{ study.fundingsource|join(',') }}</td>
                                </tr>

                            </tbody>
                        </table>



                    </div>
                </div>

                {% if attachments %}


                    Attachment
                    <table class="table ">
                        <tbody>
                            {% for attachment in attachments %}


                                <tr>
                                    <td>{{ attachment.label}}</td>
                                    <td>
                                        <form method="post" action="{{ path('download_study') }}">
                                            <input name="attachment" value="{{ attachment.id}}" hidden>
                                            <button class="btn btn-sm btn-success">
                                                <i class="fa fa-download"></i>
                                                download</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="16">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% set active=0 %}
                {% set activesub=0 %}
                {% set break_var=0 %}
                {% set ative_menu=0 %}
{% if reviewer and  ( is_study_owner(app.user,study) or  is_allowed(app.user,'lst_rev') or is_reviewer(app.user,study) ) %}

              {% for mile1 in miles if break_var == 0 %}  {# outer loop, milestones list #}
                 {% for task1  in tasks if break_var == 0 %} {# inner loop, tasks list #}
                   {% if mile1.id == task1.milestone.id %}

                    {% if task1.done != 2 %}
                        {% set break_var=1 %}

                    {% endif %}


                   {% endif %}



                 {% endfor %} {# end of inner loop, tasks list #}

                    {% if break_var == 1 %}

                    {% endif %}
                     {% set activesub = activesub + 1 %}
                     {% set active=active + 1 %}
                     {% set ative_menu = ative_menu + 1 %}


              {% endfor %} {# end of outer loop, tasks list #}

 {% if is_allowed(app.user,'lst_rev') and done == true and study.status == 3  %}
 <br> <br> <div class='center'>
		<a href="{{ path('study_edit',{'id':study.id,'action':'lapprove'}) }}"
class="btn btn-success btn-lg" onclick="return confirm('Are you sure you want to approve?')">Approve</a>
                                    <a  class="btn btn-warning btn-lg" id="lpend">Pending</a>
                             {# {{ path('study_edit',{'id':study.id,'action':'lpending'}) }}       #}
                                    </div>
								 <br> <br> <br>



            <div class="fin hidden" >
            <form id="frm" method="post" action="{{ path('study_edit',{'id':study.id,'action':'lpending'}) }}">
            <textarea rows="4" cols="50" name= "message"></textarea>
            <a  class="btn btn-danger" id="sbmt" onclick="return confirm('Are you sure you want to pend the study?')" >Confirm</a>
            </form>
            </div>



 {% elseif study.status == 4 %}
    <span></span>

 {% elseif is_allowed(app.user,'lst_rev') and done == true %}
  <div class='alert alert-danger h3'> <center>Wait until the researcher completes above entries. you will recieve an approval request as soon as he finishes </center></div>


                                {% endif %}
                                 {% if is_study_owner(app.user,study) and done == true and study.status != 4 %}
                                  {# {% if study.Status == 2  %}  #}
 <br> <br> <div class='center'>
									<a href="{{ path('study_edit',{'id':study.id}) }}" class="btn btn-success btn-lg">Update Details</a>
                                    <a href="{{ path('study_edit',{'id':study.id,'action':'finish'}) }}" class="btn btn-warning btn-lg" onclick="return confirm('Are you sure?')">Finish</a>
                                    </div>
								 <br> <br> <br>
                                  {# {% endif %}  #}
                                {% endif %}
{% if study.Status == 0 %}

 <div class='alert alert-danger h3'> <center>Submission has not been approved yet.</center></div>
{% endif %}



                <ul class="steps">

                    {% set i=1 %}
                    {% for mile in miles  %}
 <li {% if mile.id <= ative_menu %}  class="active" {% endif %}>
 <a data-step="{{ i }}" data-toggle="pill" href="#pill{{mile.id}}" onclick="setA({{ mile.id }});" style="text-decoration:none">

                        <span class="step">{{ i }}</span>
                            <span class="title">{{ mile.name }}</span>

                        </a>

                        </li>
                        {% set i=i+1 %}

                    {% endfor %}


                </ul>





{# from           fdghfghf fgj fgj fgjgfjfgjfgj fg #}

{# task in milestone  #}

                 <div class="tab-content">
                    {% for mile in miles  %}
                    <div id="pill{{mile.id}}" class="tab-pane fade in {% if mile.id == active %} active {% endif %} ">
                 {% for task  in tasks %}
                 <ul class="list-group">
                   {% if mile.id == task.milestone.id %}




  <li    class=" list-group-item {% if task.done == 2  %} list-group-item-success
  {% elseif task.done == 1 %} list-group-item-info
  {% elseif task.done == -1  %}
  {% else %}list-group-item-warning
  {% endif %} ">
  {% if task.done == 1 %}

  {% elseif mile.id == activesub %}
  {% endif %}


  {% if task.done == 2 %}
  <span class="fa fa-check green" ></span>
   {% elseif task.done == 1 and is_reviewer(app.user,study)  %}
   <input type="checkbox" class ="icon mdi mdi-check  active_checks" name="check" value="{{task.id}}"/>
  {% elseif task.done != 2 and activesub == mile.id  and is_study_owner(app.user, study)   %}
   <input type="checkbox" class ="icon mdi mdi-check active_checks" name="check" value="{{task.id}}" />
  {% else %}

    {% endif %}




   <span style="{% if task.done == -1  %} background-color:yellow  {% endif %}" class="h4">{{task.name}}</span>
   <br>
   <span class="padding-20" style="{% if task.done == -1  %} background-color:yellow  {% endif %}">{{task.description}}</span>
   {% if task.done == 0 and mile.id == activesub  %}
   <span class="badge" style="display:none">

   <form action="{{path('taskfile_upload',{'id':study.id})}}"   id="form{{task.id}}" enctype="multipart/form-data" method="POST">
   <input type="hidden" value="{{task.id}}" name="hiddenid"/>
    <input type="hidden" value="{{study.id}}" name="hiddenstudyid"/>
<input type="file"  name="task{{task.id}}"/>

</form>

{% elseif task.done == 2  and task.Attachments %}
   <span class="badge">

   <form method="post" action="{{ path('taskfile_download',{'id':study.id}) }}" class="form-inline">
                                <input name="taskattachid" value="{{ task.id}}" hidden />
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-download"></i> download</button>

                                </form>
   </span>
{% elseif task.done == 1 and mile.id == activesub and task.Attachments  %}
   <span class="badge">

   <form method="post" action="{{ path('taskfile_download',{'id': study.id}) }}" class="form-inline">
                                <input name="taskattachid" value="{{ task.id}}" hidden />
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-download"></i> download</button>

                                </form>
   </span>
   {% endif %}</li>

                     {% endif %}

                     </ul>

                 {% endfor %}


{% if study.Status==1 and reviewer %}

                 {% if mile.id == activesub %}

								{% if is_reviewer(app.user,study) and done == false  %}

                            <div id ="actions" style="display: none;">
									<button type="button" class="btn btn-danger delete" >Delete</button>
									<button type="button" class="btn btn-success approve" >Approve</button>
									<button type="button" class="btn btn-warning pending" >Poke</button>
                            </div>
								{% endif %}


                  {% endif %}




         {% endif %}

                    </div>
                  {% endfor %}


</div>


               {#  to sddfg sfgf dfd fd hdh fdf hdf hdf #}

            </div>

        </div>
    </div>
</div>
{% if  is_reviewer(app.user,study) or is_study_owner(app.user,study)  %}
<div class="col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title lighter smaller">
                <i class="ace-icon fa fa-comment blue"></i>
                Feedback
            </h4>
        </div>


                    {{ form_start(feedform) }}
                    <div class="form-actions">
                        <div class="input-group">

                            {{ form_widget(feedform.Message,{'attr':{'placeholder':'Type your feedback here ...','class':'form-control'}}) }}
                                {{ form_widget(feedform._token,{'attr':{'type':'hidden'}}) }}
                            <span class="input-group-btn">

                                <button type="submit" class="btn btn-sm btn-info no-radius">
                                    <i class="ace-icon fa fa-share"></i>
                                    Send</button>
                            </span>
                        </div>
                    </div>

                    {{ form_end(feedform,{'render_rest': false}) }}





        <div class="widget-body">
            <div class="widget-main no-padding">
                <div class="dialogs">

                    <div id="profile-feed-1" class="profile-feed">

                        {% for feedback in feedbacks  %}


                            <div class="itemdiv dialogdiv">
                               {% if feedback.sender.userInfo %}
                                <div class="user">
                                    <img alt="'s Avatar" src="{{ asset('profile_pic/' ~ feedback.sender.userInfo.image) }}">
                                </div>
                                    {% endif %}
                                <div class="body">
                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span class="orange">
                                            {{ feedback.recieved_on | date('j. F Y') }}</span>
                                    </div>

                                    <div class="name">
                                        <a href="#"></a>
                                        <span class="label label-info arrowed arrowed-in-right">

                                            {{ feedback.sender.userInfo.name }}

                                        </span>
                                    </div>
                                    <div class="text">{{ feedback.message }}</div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
            <!-- /.widget-main -->
        </div>
        <!-- /.widget-body -->
    </div>
    <!-- /.widget-box -->
</div>
{% endif %}

{% endif %}

{% endblock %}

{% block javascripts %}

   <script>

function setA(id){
    $('.tab-pane').removeClass('active');
    $('#pill'+id).addClass('active');
}

    $('.list-group > li').hover(function(){

      $(this).children(".badge").show();
    }
    ,
    function(){

 files=$('.file');
 var names = $.map(files, function(val) { return val; });

names.forEach(getFiles);

function getFiles(item,index,arr){


    if(item.value){
//console.log(item.value);
   $('.list-group > li').children(".badge").eq(index).show();
    }
 else
        {
             $('.list-group > li').children(".badge").eq(index).hide();
        }



       }
       });

 $('#profile-feed-1').ace_scroll({
                height: '400px',
                mouseWheelLock: true,
                alwaysVisible: true
            });

        $(".submit").click(function(){

            var favorite = [];
            var named= [];

            $.each($("input[name='check']:checked"), function(){

                favorite.push($(this).val());

            });



					$.ajax({
					type: "POST",

                    data:{id: {{ study.id }},done:favorite.join(',')},
                  //data: data,
               	url: "{{path('tasks_done')}}",

					success: function(msg3){
				if(msg3==1){

                    $('.submit').after("<div class='alert alert-success'> Submitted Succesfully</div>")

             //location.reload();
                }
					}
					});
                    favorite.forEach(uploadFile);



function uploadFile(item, i){
 form=$("#form"+item);
console.log((form));
form.submit();

}



        });



        $(".approve").click(function(){

            if(!confirm('Are you sure you want to approve ?')) return;
            var favorite = [];

            $.each($("input[name='check']:checked"), function(){

                favorite.push($(this).val());

            });

					$.ajax({
					type: "GET",
                    data:{id: {{study.id}},done:favorite.join(',') , action: 2 },
					url: "{{path('tasks_approved')}}",

					success: function(msg3){
				if(msg3==1){
                    $('.pending').after("<div class='alert alert-success'> Approved Succesfully</div>")

location.reload();
                }
					}
					});

        });


  $(".pending").click(function(){

            var favorite = [];

            $.each($("input[name='check']:checked"), function(){

                favorite.push($(this).val());

            });

					$.ajax({
					type: "GET",
                    data:{id: {{study.id}},done:favorite.join(',') , action: -1 },
					url: "{{path('tasks_approved')}}",

					success: function(msg3){
				if(msg3==1){
                    $('.pending').after("<div class='alert alert-success'>Selected tasks are added to pending state</div>")

location.reload();
                }
					}
					});

        });


  $(".delete").click(function(){
           if(!confirm('Are you sure you want to delete the task ?')) return;
            var favorite = [];

            $.each($("input[name='check']:checked"), function(){

                favorite.push($(this).val());

            });

					$.ajax({
					type: "GET",
                    data:{id: {{study.id}},done:favorite.join(',') , action: 'delete' },
					url: "{{path('tasks_approved')}}",

					success: function(msg3){
				if(msg3==1){
                    $('.pending').after("<div class='alert alert-success'>Selected tasks are added to pending state</div>")

location.reload();
                }
					}
					});

        });



        $("#lpend").click(function(){
        $(".fin").toggleClass("hidden");
        });

        $("#sbmt").click(function(){
        $("#frm").submit();
        });
        var a=0;

        $('.active_checks').change(function () {
           v= $(this).prop('checked');
            if(v)
            {
                a=a+1;
                $('#actions').show();
            }
            else
            {
                a=a-1;
                if(a==0)
                {
                 $('#actions').hide();
                }
            }



        });



    </script>
{% endblock %}
