{% extends 'base.html.twig' %}

{% block title %}UserGroup index{% endblock %}
{% block pageheader %}

    <h1>User Group</h1>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_group in user_groups %}
            <tr>
                <td>{{ user_group.id }}</td>
                <td>{{ user_group.name }}</td>
                <td>{{ user_group.description }}</td>
                <td>{{ user_group.createdAt ? user_group.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ user_group.updatedAt ? user_group.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('user_group_show', {'id': user_group.id}) }}">show</a>
                    <a class="btn btn-success" href="{{ path('user_group_edit', {'id': user_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_group_new') }}">Create new</a>
{% endblock %}
