

{{ form_start(form) }}
{{form_widget(form)}}

    &nbsp;&nbsp;&nbsp;<button class="btn btn-success"><span class="{{ class }}"> </span> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
