{% extends 'base.html.twig' %}


{% block search %}{% endblock %}
{% block breadcrumb %}
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="{{ path('home') }}">Home</a>
	</li>
	<li>
		<a href="{{ path('dataset_index') }}">Dataset</a>
	</li>
	<li class="active">Attachment</li>
{% endblock %}
{% block pageheader %}{% endblock %}
{% block body %}

	<div class="row">

		<div class="col-sm-4">
			<div class="widget-box widget-color-blue2">
				<div class="widget-header">
					<h4 class="widget-title lighter smaller">New
																		                                                Attachment</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main padding-8">
						{{ form(form) }}

						</div>
					</div>
				</div>


			</div>
			<div class="col-sm-8 ">
				<div class="widget-box widget-color-blue2">
					<div class="widget-header">
						<h4 class="widget-title lighter smaller">List of  Attachments</h4>
					</div>
					<div class="widget-body">
						<div class="widget-main padding-8">

							<table class="table table-hover">
								<thead>
									<tr>
										<th>Id</th>
										<th>Dataset</th>
										<th style="width:320px">actions</th>
									</tr>
								</thead>
								<tbody>

                                {% set dataset_id=0 %}
									{% for attachment in attachments %}
                                    {% set dataset_id = attachment.dataset.id %}
										<tr>
											<td>{{ attachment.id }}</td>
											<td>{{ attachment.dataset.name }}</td>


											<td>
												<form method="post" class="inline" action="{{ path('download_dataset_file') }}" class="form-inline">
													<input name="attachment" value="{{ attachment.id}}" hidden/>
													<button class="btn btn-sm btn-primary inline" type="submit">
														<i class="fa fa-download"></i>
														download</button>
													<a class="btn btn-warning btn-sm " href="{{ path('dataset_attachment_edit', {'id': attachment.id}) }}">
														<i class="fa fa-pencil"></i>
														edit</a>

												</form>

												<form class="inline" method="post" action="{{ path('delete_attachment', {'id': attachment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this attachment?');">
													<input type="hidden" name="_method" value="DELETE">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attachment.id) }}">
													<button class="btn btn-sm btn-danger">
														<span class="fa fa-trash"></span>
														Delete</button>
												</form>

											</td>
										</tr>
										<tr>

										</tr>
									{% else %}
										<tr>
											<td colspan="4">no records found</td>
										</tr>
									{% endfor %}
                                    <tr>
                                    </tr>
								</tbody>
							</table>
							{% if attachments %}

{% if attachments[0].dataset.approved != 1 %}


                <form method="post" class="inline" action="{{ path('dataset_attachment_approval',{ id:dataset_id }) }}" class="form-inline">
                 <button class="btn btn-sm btn-success " type="submit">
                        Request for approval</button>
                </form>
				{% endif %}

							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>


	{% endblock %}
