{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

{% endblock %}
{% block title %}Dataset index
{% endblock %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{{ path('home')}}">Home</a>
    </li>
    <li>
        <a href="{{ path('mydataset')}}">Dataset</a>
    </li>
    <li class="active">view Dataset</li>
{% endblock %}

{% block pageheader %}

    <a href="{{ path('mydataset') }}" class="btn btn-sm btn-primary ">back to list</a>

{% endblock %}


{% block body %}



<div class="dropdown pull-right">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Actions
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#" data-toggle="modal" data-target="#myModal">Add Tags</a></li>
    <li><a href="#" data-toggle="modal" data-target="#studydesignModal">Study Design</a></li>
    <li><a href="#" data-toggle="modal" data-target="#keywordModal">Add Keywords</a></li>

  </ul>
</div>




{% include 'dataset/tag.html.twig' %}
{% include 'dataset/studydesign.html.twig' %}
{% include 'dataset/keywords.html.twig' %}



    <h1>Dataset</h1>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    {% if dataset.id < 10  %}
                        {% set add = '000' %}
                    {% elseif dataset.id < 100 %}

                        {% set add = '00' %}
                    {% elseif dataset.id < 1000 %}

                        {% set add = '0' %}


                    {% endif %}

                    <td>EPHI-DS{{ add }}{{ dataset.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ dataset.name }}</td>
                </tr>

                <tr>
                    <th>Format</th>
                    <td>{{ dataset.format }}</td>
                </tr>
                <tr>
                    <th>Coverage Location</th>
                    <td>{{ dataset.coverageLocation }}</td>
                </tr>
                {# <tr>
                    <th>CoverageAge</th>
                    <td>{{ dataset.coverageAge }}</td>
                </tr> #}
                <tr>
                    <th>Coverage Sex</th>
                    <td>{{ dataset.coverageSex }}</td>
                </tr>


                <tr>
                    <th>Additional Material</th>
                    <td>{{ dataset.codeBook ? 'Yes' : 'No' }}</td>
                </tr>
                {% if dataset.codeBookFileName %}
                 <tr>
                    <th>Additional Material</th>
                    <td><a href="{{ asset('dataset/' ~ dataset.codeBookFileName) }}" class="btn btn-primary">Download</a></td>
                </tr>
                {% endif %}



                <tr>
                    <th>Keywords</th>
                    <td>
                    <ul>{% for key in  dataset.keywords  %}
                    {% if key != '' %}
                        <li>{{ key }}</li>
                    {% endif %}

                    {% endfor %}</ul>
                    </td>
                </tr>
                <tr>
                    <th>Recommended</th>
                    <td>{{ dataset.recommended ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ dataset.location }}</td>
                </tr>
                <tr>
                    <th>Cleaned</th>
                    <td>{{ dataset.cleaned ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Cleaned Format</th>
                    <td>{{ dataset.cleanedFormat }}</td>
                </tr>
                <tr>
                    <th>RawFormat</th>
                    <td>{{ dataset.rawFormat }}</td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td>{{ dataset.comment }}</td>
                </tr>
                <tr>
                    <th>Remark</th>
                    <td>{{ dataset.remark }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{ dataset.note }}</td>
                </tr>

                <tr>
                    <th>Treatment</th>
                    <td>{{ dataset.treatment }}</td>
                </tr>
                <tr>

                    <th>Date Data Collection Started</th>
                    <td>{{ dataset.timePeriodCoverageStart ? dataset.timePeriodCoverageStart|date('') : ''   }}</td>
                </tr>
                <tr>
                    <th>Date Data Collection End</th>
                    <td>{{ dataset.timePeriodCoverageEnd ? dataset.timePeriodCoverageEnd|date('') : ''   }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ dataset.title }}</td>
                </tr>
                <tr>
                    <th>DataType
                    </th>
                    <td>{{ dataset.dataType }}</td>
                </tr>
                <tr>
                    <th>PublicationYear</th>
                    <td>{{ dataset.publicationYear ? dataset.publicationYear|date('Y') : '' }}</td>
                </tr>
                <tr>
                    <th>SugestedCitation</th>
                    <td>{{ dataset.sugestedCitation|raw  }}</td>
                </tr>
                <tr>
                    <th>OtherIdType</th>
                    <td>{{ dataset.otherIdType }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ dataset.description|raw  }}</td>
                </tr>

                <tr>
                    <th>Date Data Archived</th>
                    <td>{{ dataset.recievedDate ? dataset.recievedDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Date Data Cataloged</th>
                    <td>{{ dataset.catalogCompletedDate ? dataset.catalogCompletedDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Abstract</th>
                    <td>{{ dataset.abstract|raw  }}</td>
                </tr>
                <tr>
                    <th>Data Generating Unit </th>
                    <td>{{ dataset.workunit }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td><ul>{% for tag in  dataset.tags  %}
                        <li>{{ tag }}</li>
                    {% endfor %}</ul></td>
                </tr>
                <tr>

                </tr>
            </tbody>

        </table>

{% if  lock_detail %}
            <div class="row">
                <h3 class="col-md-4">Geolocation</h3>
                <div class="col-md-12">
                <td> <div style=" height:300px" class="col-md-12" id="show_map"></div></td>
                </diV>
            </div>
{% endif %}

        {% if is_granted('ROLE_RESEARCHER') %}{% endif %}
        {% if is_granted('ROLE_DATAMANAGER') %}
            <a href="{{ path('dataset_edit', {'id': dataset.id}) }}" class="btn btn-sm btn-warning">
                <span class="fa fa-edit"></span>edit</a>

            <form method="post" action="{{ path('dataset_delete', {'id': dataset.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dataset.id) }}">
                <button class="btn btn-sm btn-danger">
                    <span class="fa fa-trash"></span>Delete</button>
            </form>
        {% endif %}
        {% if attachments %}


Attachments
                <table class="table ">
                    <tbody>
                        {% for attachment in attachments %}

                            <tr>
                                <th>Label</th>
                                <td>{{ attachment.label}}</td>
                                <td>
                                 <form method="post" action="{{ path('download_dataset_file') }}">
                                  <input name="attachment" value="{{ attachment.id}}" hidden>
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-download"></i> download</button>
                                   </form>
                                </td>
                            </tr>

                            {% else %}
                                 <tr>
                <td colspan="16">no records found</td>
            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% elseif noaccess %}
             <form method="post" action="{{ path('make_download_request') }}">
                                  <input name="dataset" value="{{ dataset.id}}" hidden>
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Make download Request</button>
                                   </form>

                 {% endif %}
 <form action="{{path('addkeywords')}}" method="GET">
 <div class="form-group">
  <label for="keywords">Add Keywords(separate by comma):</label>
<input type="text" class="form-control keywords" id="keywor" name="keywords">
<input type="hidden" class="keystore" name="keystore"/>
<input type="hidden"  id="keywords" value="{{ dataset.id }}" name="keyid">
</div>


  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% block javascripts %}

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="{{asset('assets/js/Leaflet.SelectAreaFeature.js')}}"></script>



			<script>
				var val = "";
$('.keywords').selectize({
delimiter: ',',
persist: false,
onChange: function (value) {
val = value;

// $('.keywords').find('input').attr('name','keywords');
$('.keystore').val(val);


},
create: function (input) {

return {value: input, text: input}
}

});
			</script>
    <script >

{% if  lock_detail %}
    areuuuobject=[];
    {% for item in last_point %}
    var cur={
        lat:{{item.lat}},
        lng:{{item.lng}}
    };
    areuuuobject.push(cur);
{% endfor %}


      var map2 = L.map('show_map').setView([9.04784, 38.7306], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map2);

          var name="{{lock_detail.name}}";
        var polygon = L.polygon(areuuuobject, {color: 'yellow'}).addTo(map2);
            L.tileLayer
            L.marker(polygon.getBounds().getCenter()).addTo(map2)
            .bindPopup(name)
            .openPopup()
           {# selectfeature = map.selectAreaFeature.enable(); #}

    {# var decoded =JSOlngN.parse("{{last_point| raw }}");  ;
   alert(decoded);
        console.log(decoded ); #}


    {# alert(last_point); #}
         {# console.log(JSON.stringify(name));  #}
        {# name= JSON.parse(name) #}
         {# alert(name); #}

         {# console.log(decoded); #}
        {# var points=JSON.parse(decoded); #}
        {# var points="{{last_point}}";
        var decoded = JSON.parse(points); #}

        {# alert(points); #}
        {# var name=decoded['name'];

        console.log(points);#}
         {# points= JSON.parse({{ last_point | raw }});
        console.log(points); #}
        {# points='{{last_point | raw}}'; #}

        {# objects=JSON.parse(points);
        alert(objects);
         #}
        {# alert(points); #}

         {% endif %}
    </script>






{% endblock %}

    </div>
{% endblock %}
