{% extends 'base.html.twig' %}
{% block breadcrumb %}
  <li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="{{ path('home')}}">Home</a>
							</li>
  <li>
								<i class=""></i>
								<a href="{{ path('mydataset')}}">Dataset</a>
							</li>
							<li class="active">Edit Dataset</li>
{% endblock %}

{% block pageheader %}

<a href="{{ path('mydataset') }}" class="btn btn-sm btn-primary">back to list</a>
 <div class="pull-right">  {{ include('dataset/_delete_form.html.twig') }}</div>
{% endblock %}
 
{% block body %}
    


    {{ include('dataset/_form.html.twig', {'button_label': 'Update'}) }}

   

  
{% endblock %}
