{% extends "FOSUser/layout.html.twig" %}

{% block loggedin %}
{% endblock %}
{% block pageheader %}
    
{% endblock %}
{% block breadcrumb %}
    <li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="{{ path('home')}}">Home</a>
							</li>
							<li class="active">Change password</li>
{% endblock %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}

{% endblock fos_user_content %}
