<ul class="nav nav-list">
					<li class="active">
						<a href="{{ path('home')}}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>
						<b class="arrow"></b>
					</li>
                	<li class="">
						<a href="{{ path('dataset_index')}}">
							<i class="menu-icon fa fa-database"></i>
							<span class="menu-text"> Dataset </span>
						</a>
						<b class="arrow"></b>
					</li>
				                
                	<li class="">
						<a href="{{ path('study_index')}}">
							<i class="menu-icon fa fa-book"></i>
							<span class="menu-text"> Research </span>
						</a>
						<b class="arrow"></b>
					</li>
                	                	<li class="">
						<a href="{{ path('researcher_new')}}">
							<i class="menu-icon fa fa-database"></i>
							<span class="menu-text"> Add Team Member </span>
						</a>
						<b class="arrow"></b>
					</li>
                	<li class="">
						<a href="{{ path('activity_log_index')}}">
							<i class="menu-icon fa fa-database"></i>
							<span class="menu-text"> Requests </span>
						</a>
						<b class="arrow"></b>
					</li>
                
                	<li class="">
						<a href="http://10.1.1.24/ephisurvey/admin/">
							<i class="menu-icon fa fa-question"></i>
							<span class="menu-text"> Survey </span>
						</a>
						<b class="arrow"></b>
					</li>

                     



							
							
				</ul><!-- /.nav-list -->
