{% extends 'base.html.twig' %}
{% block pageheader %}
	<h2> Approval requests</h2>
{% endblock %}

{% block body %}


</tbody>
</table>

<div class="table-responsive">
			 <table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>FullNames</th>
						<th>Email</th>

						<th>Reason</th>
						<th>Restricted</th>
						<th>Research Proposal</th>
						<th>RequestedDate</th>
						<th>Directorate</th>
						<th>NDMC</th>
						<th>Department</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% set id = 1 %}
					{% for download_request in download_requests %}
						<tr style="vertical-align:middle">
							<td  rowspan="2">{{ id }}
								{% set id = id+1  %}</td>
							<td rowspan="2">{{ download_request.Name }}
								{{ download_request.MiddleName }}
								{{ download_request.LastName }}</td>
							<td rowspan="2">{{ download_request.Email }}</td>

							<td rowspan="2">{{ download_request.Reason }}</td>

							<td rowspan="2">
								{% if download_request.dataset.isRestricted %}
									<p class="badge badge-danger">Yes</p>
									<p>
										<form method="post" class="inline" action="{{ path('download_restriction') }}" class="form-inline">
											<input name="restriction" value="{{ download_request.id}}" hidden/>
											<button class="btn btn-sm btn-success inline" type="submit">
												<i class="fa fa-download"></i>
												download</button>


										</form>

									</p>

								{% else %}
									<span class="badge badge-success">Not Restricted</span>
								{% endif %}

							</td>

							<td rowspan="2">
								{% if download_request.file %}

									<p>
										<form method="post" class="inline" action="{{ path('download_legitimacy') }}" class="form-inline">
											<input name="legitimacy" value="{{ download_request.id}}" hidden/>
											<button class="btn btn-sm btn-success inline" type="submit">
												<i class="fa fa-download"></i>
												download</button>


										</form>

									</p>


								{% endif %}

							</td>

							<td rowspan="2">{{ download_request.RequestedDate ? download_request.RequestedDate|date('Y-m-d') : '' }}</td>


							{% set  stat="" %}
							{% set  messg="" %}

							{% if download_request.approver1 == 11 or download_request.approver1 == 21 %}


								{% set messg="Approved" %}
								{% set stat="success" %}

							{% elseif download_request.approver1 is null  %}


								{% set messg="Pending" %}
								{% set stat="warning" %}

							{% else %}

								{% set messg="Rejected" %}
								{% set stat="danger" %}
							{% endif %}
							<td>
								<span class="label label-{{ stat }}"><i class="fa fa-arrow-right"></i> {{messg }}</span>
							</td>


							{% if download_request.approver2 ==11 or download_request.approver2 ==21 %}


								{% set messg="Approved" %}
								{% set stat="success" %}

							{% elseif download_request.approver2 is null  %}


								{% set messg="Pending" %}
								{% set stat="warning" %}

							{% else %}

								{% set messg="Rejected" %}
								{% set stat="danger" %}
							{% endif %}
							<td>
								<span class="label label-{{ stat }}"><i class="fa fa-arrow-right"></i>{{messg }}</span>
							</td>


							{% if download_request.approver3 == 11  or download_request.approver3 == 21 %}


								{% set messg="Approved" %}
								{% set stat="success" %}

							{% elseif download_request.approver3 is null  %}


								{% set messg="Pending" %}
								{% set stat="warning" %}

							{% else %}

								{% set messg="Rejected" %}
								{% set stat="danger" %}
							{% endif %}
							<td rowspan="2">
								<span class="label label-{{ stat }}"> {{messg }} <i style=" transform: rotate(180deg);" class="fa fa-share"></i></span>
							</td>


							<td rowspan="2">
								{% if is_allowed(app.user,'approver1') or is_allowed(app.user,'approver2') or is_allowed(app.user,'approver3') %}

									<a class="btn btn-sm btn-success" href="{{ path('download_request_show', {'id': download_request.id}) }}">Detail</a>


								{% endif %}
							</td>
						</tr>

						{% set stat = "default" %}

    <tr>



					{% if download_request.approver1 == 21 %}



								{% set messg="Approved" %}
								{% set stat="success" %}

							{# {% elseif download_request.approver1 == 0  %}

							{% set messg="Rejected" %}
								{% set stat="danger" %} #}

							{% elseif download_request.approver1 is null or  download_request.approver1 == 11  %}


								{% set messg="Pending" %}
								{% set stat="warning" %}

							{% else %}

								{% set messg="Rejected" %}
								{% set stat="danger" %}
							{% endif %}
    <td><span class="label label-{{ stat }}"> {{messg }} <i  class="fa fa-arrow-left"></i></span></td>

{% if download_request.approver2 == 21 %}


								{% set messg="Approved" %}
								{% set stat="success" %}

							{# {% elseif download_request.approver2 is null  %} #}
							{% elseif download_request.approver2 is null or  download_request.approver2 == 11  %}



								{% set messg="Pending" %}
								{% set stat="warning" %}

							{% else %}

								{% set messg="Rejected" %}
								{% set stat="danger" %}
							{% endif %}
     <td><span class="label label-{{ stat }}"> {{messg }} <i  class="fa fa-arrow-left"></i></span></td>


  </tr>
					{% else %}
						<tr>
							<td colspan="15">no records found</td>
						</tr>
	{% endfor %}
				</tbody>
			</table>
		<div class="pull-right">
				{{ knp_pagination_render(download_requests)}}</div>

		</div>

        </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$('td').css("vertical-align","middle");
</script>

{% endblock %}
