{% extends 'base.html.twig' %}

{% block title %}StudyDatasetStatus{% endblock %}

{% block body %}
    <h1>StudyDatasetStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ study_dataset_status.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ study_dataset_status.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ study_dataset_status.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('study_dataset_status_index') }}">back to list</a>

    <a href="{{ path('study_dataset_status_edit', {'id': study_dataset_status.id}) }}">edit</a>

    {{ include('study_dataset_status/_delete_form.html.twig') }}
{% endblock %}
